<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <div ng-app="angularDemo" ng-cloak>
        <div ng-controller="indexController as model">
            <div>Author: {{model.person.name}}</div>
            <div>Book: {{model.book.title}}</div>
        </div>
    </div>

    <script type="text/javascript" src="/scripts/angular.js"></script>
    <script type="text/javascript" src="/assets/application.js"></script>
    <script type="text/javascript" src="/assets/controllers/indexController.js"></script>
</body>
</html>
