<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Angular Demo</title>
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
</head>
    <body>
        <div ng-app="angularDemo">
            <div ng-view></div>
        </div>
        <script type="text/javascript" src="/scripts/angular.js"></script>
        <script type="text/javascript" src="/scripts/angular-route.js"></script>
        <script type="text/javascript" src="/assets/application.js"></script>
        <script type="text/javascript" src="/assets/filters/camelFilter.js"></script>
        <script type="text/javascript" src="/assets/controllers/postsController.js"></script>
        <script type="text/javascript" src="/assets/controllers/personController.js"></script>
        <script type="text/javascript" src="/assets/services/dataService.js"></script>
        <script type="text/javascript" src="/assets/directives/postDirective.js"></script>
    </body>
</html>
